#### Load LLM and device

In [1]:
from langchain_google_vertexai import ChatVertexAI

llm = ChatVertexAI(model="gemini-2.5-flash")

In [2]:
import torch

# Set the torch device
if torch.cuda.is_available():  # NVIDIA GPU
    device = torch.device("cuda")
elif torch.backends.mps.is_available():  # macOS
    device = torch.device("mps")
else:
    device = torch.device("cpu")  # CPU
print(f"Using {device.type} device")

Using cuda device

#### LongForm UQ

In [3]:
from uqlm import LongFormUQ

In [4]:
prompts = ["write a paragraph about Paul McCartney", "write a paragraph about John Lennon"]

In [5]:
# Sentence-Response UQ: aggregated response-level scoring
sent_lfuq = LongFormUQ(llm=llm, granularity="sentence", mode="unit_response", aggregation_method="mean", device=device)
result = await sent_lfuq.generate_and_score(prompts=prompts, num_responses=2)
result.to_df()

Output()

Output()

,response,sampled_responses,prompt,sentence_set,entailment,noncontradiction,contrasted_entailment
0,Sir James Paul McCartney is a legendary Englis...,[Sir Paul McCartney stands as one of the most ...,write a paragraph about Paul McCartney,[Sir James Paul McCartney is a legendary Engli...,0.614487,0.998979,0.995950
1,John Lennon remains one of the most iconic and...,[John Lennon remains one of the most iconic an...,write a paragraph about John Lennon,[John Lennon remains one of the most iconic an...,0.448111,0.998936,0.988906

In [6]:
# Sentence-Response UQ: sentence-level scoring
sent_lfuq = LongFormUQ(llm=llm, granularity="sentence", mode="unit_response", aggregation_method=None, device=device)
result = await sent_lfuq.generate_and_score(prompts=prompts, num_responses=2)
result.to_df()

Output()

Output()

,response,sampled_responses,prompt,sentence_set,entailment,noncontradiction,contrasted_entailment
0,Sir Paul McCartney is one of the most celebrat...,[Sir Paul McCartney stands as one of the most ...,write a paragraph about Paul McCartney,[Sir Paul McCartney is one of the most celebra...,"[0.9667072296142578, 0.5901162475347519, 0.921...","[0.9994462132453918, 0.9991875886917114, 0.999...","[0.9994173645973206, 0.9969615638256073, 0.999..."
1,John Lennon remains one of the most iconic and...,"[John Lennon, an iconic figure in 20th-century...",write a paragraph about John Lennon,[John Lennon remains one of the most iconic an...,"[0.9902316629886627, 0.942951887845993, 0.9036...","[0.9996265769004822, 0.9995386898517609, 0.999...","[0.999622255563736, 0.9995062351226807, 0.9991..."

In [7]:
# Claim-Response UQ:  claim-level scoring
claim_lfuq = LongFormUQ(llm=llm, granularity="claim", mode="unit_response", aggregation_method=None, device=device)
result = await claim_lfuq.generate_and_score(prompts=prompts, num_responses=2)
result.to_df()

Output()

Output()

,response,sampled_responses,prompt,claim_set,entailment,noncontradiction,contrasted_entailment
0,Paul McCartney is an undisputed titan of music...,[Sir Paul McCartney stands as one of the most ...,write a paragraph about Paul McCartney,[Paul McCartney is an undisputed titan of musi...,"[0.8392975330352783, 0.4484418034553528, 0.064...","[0.9980470538139343, 0.9929606914520264, 0.986...","[0.9976764023303986, 0.9839319288730621, 0.702..."
1,John Lennon remains one of the most iconic and...,[John Lennon remains one of the most iconic an...,write a paragraph about John Lennon,[John Lennon is one of the most iconic figures...,"[0.9698392152786255, 0.9648253917694092, 0.553...","[0.9995621740818024, 0.9995166659355164, 0.678...","[0.9995458722114563, 0.9994959831237793, 0.574..."

In [5]:
# matched claim UQ: claim-level scoring
matched_claim_lfuq = LongFormUQ(llm=llm, granularity="claim", mode="matched_unit", aggregation_method=None, device=device)
result = await matched_claim_lfuq.generate_and_score(prompts=prompts, num_responses=2)
result.to_df()

Output()

Output()

,response,sampled_responses,prompt,claim_set,entailment,noncontradiction,contrasted_entailment
0,Sir Paul McCartney stands as one of the most i...,[Paul McCartney stands as one of the most endu...,write a paragraph about Paul McCartney,[Sir Paul McCartney is one of the most iconic ...,"[0.15482963994145393, 0.09617941826581955, 0.1...","[0.9994825124740601, 0.9995205402374268, 0.998...","[0.9952928423881531, 0.9925267696380615, 0.958..."
1,John Lennon remains one of the most iconic and...,"[John Lennon, a visionary artist and co-founde...",write a paragraph about John Lennon,[John Lennon remains a figure in music history...,"[0.9301130771636963, 0.8804892897605896, 0.936...","[0.9994082152843475, 0.9989449083805084, 0.999...","[0.99934321641922, 0.9983357489109039, 0.99919..."

In [6]:
# matched sentence UQ
matched_sent_lfuq = LongFormUQ(llm=llm, granularity="sentence", mode="matched_unit", aggregation_method=None, device=device)
result = await matched_claim_lfuq.generate_and_score(prompts=prompts, num_responses=2)
result.to_df()

Output()

Output()

,response,sampled_responses,prompt,claim_set,entailment,noncontradiction,contrasted_entailment
0,Sir Paul McCartney stands as one of the most i...,"[Paul McCartney, an undeniable titan of modern...",write a paragraph about Paul McCartney,[Sir Paul McCartney is one of the most iconic ...,"[0.17649146541953087, 0.181912362575531, 0.292...","[0.9992806911468506, 0.9994366466999054, 0.999...","[0.9942559897899628, 0.9910057187080383, 0.987..."
1,John Lennon remains one of history's most icon...,[John Lennon remains one of the most iconic an...,write a paragraph about John Lennon,"[John Lennon remains a musical figure., John L...","[0.9826607406139374, 0.9929848611354828, 0.990...","[0.9994126856327057, 0.9996995329856873, 0.999...","[0.9994026720523834, 0.999697208404541, 0.9996..."

#### Decomposition

In [8]:
from uqlm.longform import ResponseDecomposer

In [9]:
rd = ResponseDecomposer(llm)

In [14]:
responses = ["Hello there! Today I visited Dr. Chauhan at his home. He was hanging his framed B.S., M.S., and Ph.D. degrees. It was fun!", "One time I went on a class trip to D.C. to visit the white house. While there, I felt in awe of the beutiful art and important people with titles such as Prof., Esq., and others."]

sampled_responses = [
    ["Hi! I went to see Dr. Chauhan at his house today. He was busy putting up his framed B.S., M.S., and Ph.D. diplomas. It was quite enjoyable!", "Greetings! Today, I stopped by Dr. Chauhan's home. He was in the process of displaying his framed degrees: B.S., M.S., and Ph.D. It was a delightful experience!"],
    [
        "Once, I took a school trip to Washington, D.C. to see the White House. While I was there, I was amazed by the stunning artwork and the notable individuals with titles like Professor, Esquire, and more.",
        "During a class excursion to Washington, D.C., I had the opportunity to visit the White House. I was struck by the beautiful art and the distinguished people holding titles such as Prof., Esq., and others.",
    ],
]

In [11]:
# Decompose into sentences
rd.decompose_sentences(responses=responses)

[['Hello there!',
  'Today I visited Dr. Chauhan at his home.',
  'He was hanging his framed B.S., M.S., and Ph.D. degrees.',
  'It was fun!'],
 ['One time I went on a class trip to D.C. to visit the white house.',
  'While there, I felt in awe of the beutiful art and important people with titles such as Prof., Esq., and others.']]

In [12]:
# Decompose into claims
await rd.decompose_claims(responses=responses)

[['I visited Dr. Chauhan.\n',
  'I visited Dr. Chauhan at his home.\n',
  'Dr. Chauhan was hanging his degrees.\n',
  'Dr. Chauhan was hanging his B.S. degree.\n',
  'Dr. Chauhan was hanging his M.S. degree.\n',
  'Dr. Chauhan was hanging his Ph.D. degree.\n',
  "Dr. Chauhan's degrees were framed.\n",
  'It was fun.\n'],
 ['I went on a class trip.\n',
  'The class trip was to D.C.\n',
  'I visited the white house.\n',
  'I felt in awe.\n',
  'The art was beautiful.\n',
  'The people were important.\n',
  'The people had titles.\n',
  'The titles included Prof..\n',
  'The titles included Esq..\n',
  'The titles included others.\n\n']]

In [15]:
# Decompose sampled responses into claims
await rd.decompose_candidate_claims(sampled_responses=sampled_responses)

[[['I went to see Dr. Chauhan.\n',
   'I went to see Dr. Chauhan at his house.\n',
   'I went to see Dr. Chauhan today.\n',
   'Dr. Chauhan was busy.\n',
   'Dr. Chauhan was putting up diplomas.\n',
   'Dr. Chauhan was putting up framed diplomas.\n',
   "Dr. Chauhan's diplomas were framed.\n",
   "Dr. Chauhan's diplomas were B.S. diplomas.\n",
   "Dr. Chauhan's diplomas were M.S. diplomas.\n",
   "Dr. Chauhan's diplomas were Ph.D. diplomas.\n",
   'It was enjoyable.\n'],
  ["I stopped by Dr. Chauhan's home.\n",
   'Dr. Chauhan was displaying his framed degrees.\n',
   'Dr. Chauhan has a B.S. degree.\n',
   'Dr. Chauhan has an M.S. degree.\n',
   'Dr. Chauhan has a Ph.D. degree.\n',
   'The experience was delightful.\n']],
 [['I took a school trip.\n',
   'The school trip was to Washington, D.C.\n',
   'I went to see the White House.\n',
   'I was amazed by the artwork.\n',
   'The artwork was stunning.\n',
   'I was amazed by the individuals.\n',
   'The individuals were notable.\n',
   'The individuals had titles.\n',
   'The titles included Professor.\n',
   'The titles included Esquire.\n\n'],
  ['I had the opportunity to visit the White House.\n',
   'The visit was during a class excursion.\n',
   'The class excursion was to Washington, D.C.\n',
   'I was struck by the beautiful art.\n',
   'I was struck by the distinguished people.\n',
   'The distinguished people held titles.\n',
   'The titles included Prof.\n',
   'The titles included Esq.\n',
   'The titles included others.\n\n']]]